.normal {
    background-color: #c99e12;
}

.grass {
    background-color: #40bb07;
}

.fire {
    background-color: #f86b06;
}

.water {
    background-color: #074ef5;
}

.electric {
    background-color: #f7c709;
}

.ice {
    background-color: #0eebf3;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #7c4ff8;
}

.poison {
    background-color: #9c069c;
}

.fighting {
    background-color: #bd1007;
}

.psychic {
    background-color: #fa1459;
}

.dark {
    background-color: #553d2d;
}

.rock {
    background-color: #b99908;
}

.bug {
    background-color: #a3b404;
}

.ghost {
    background-color: #4b2397;
}

.steel {
    background-color: #66647c;
}

.dragon {
    background-color: #f10e0e;
}

.fairy {
    background-color: #f5447f;
}