#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(248, 240, 240, 0.349);
}

#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    z-index: 10;
}

#fade.hide, #modal.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide{
    top: 0;
}

#fade, #modal{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}