*{
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #f0f8ff;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(197, 42, 42);
    padding: 0.9rem;
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2.8rem;
}

.header-img {
    height: 1.56rem;
    margin-right: 0.125rem;
}

.header-text {
    color: whitesmoke;
    font-size: 1.56rem;
}

/* THEMES */

#themeBtn {
    border:none;
    cursor: pointer;
    padding: 0.125rem 1.25rem;
    background-color: transparent;
}

#themeBtn:hover {
    opacity: 0.6;
}

.is-light-theme {
    background-color: #f0f8ff;
    color: #000;
}

.is-dark-theme {
    background-color: #383838;
    color: #f0f8ff;
}


