
.content {
    max-width: 100vw;
    height: 100vh;
    padding: 1rem 0;
}

.pokemons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;   
}

.pokemon {
    width: 12.5rem;
    border-radius: 0.9rem;
    opacity: 1;
}

.pokemon-card {
    padding: 0.625rem;
    display: flex;
    flex-direction: column;     
}

.pokemon-card-number {
    align-self: flex-end;
    color: #f0f8ff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1rem;
    filter: brightness(1.1);
    filter: drop-shadow(2px 4px 6px rgb(43, 42, 42));
    text-align: center;
}

.pokemon-card-types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pokemon-card-type {
    list-style: none;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 0.625rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon-card-img {
    max-width: 100%;
    height: 6.25rem;
    filter: drop-shadow(2px 4px 6px black);
}

.pokemon-card-name {
    align-self: center;
    text-transform: capitalize;
    color: #f0f8ff;
    padding: .25rem .5rem;
    margin: .5rem .25rem 0 0;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1rem;
    text-align: center;
    filter: drop-shadow(2px 4px 6px rgb(43, 42, 42));
}

.pokemon:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: 0.4s;
}

/* Botão de Paginação */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.loadMoreBtn {
    border: none;
    background-color: rgb(197, 42, 42);
    color: black;
    border-radius: 0.94rem;
    padding: 0.94rem;
    opacity: 1;
}

.loadMoreBtn:hover {
    cursor: pointer;
    opacity: 0.6;
}

